USE [ChatAppDemo]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 11/20/2024 12:01:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RoomId] [varchar](50) NULL,
	[RoomTypeId] [bigint] NULL,
	[IsActive] [bit] NULL,
	[DateTimeCreated] [datetime] NULL,
	[DateTimeUpdated] [datetime] NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomType]    Script Date: 11/20/2024 12:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomType](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](50) NOT NULL,
	[Name] [varchar](120) NOT NULL,
 CONSTRAINT [PK_RoomType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMessage]    Script Date: 11/20/2024 12:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMessage](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NULL,
	[Message] [varchar](max) NULL,
	[RoomId] [bigint] NOT NULL,
	[IsSeen] [bit] NOT NULL,
 CONSTRAINT [PK_UserMessage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/20/2024 12:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](max) NULL,
	[IsAvailable] [bit] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WaitingList]    Script Date: 11/20/2024 12:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WaitingList](
	[WaitingListId] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerName] [varchar](255) NULL,
	[Concern] [varchar](255) NULL,
	[WLRoomId] [varchar](255) NULL,
	[IsActive] [bit] NULL,
	[AccomodatedBy] [bigint] NULL,
	[IsDone] [bit] NULL,
	[IsOnline] [bit] NULL,
 CONSTRAINT [PK_WaitingList] PRIMARY KEY CLUSTERED 
(
	[WaitingListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RoomType] ON 

INSERT [dbo].[RoomType] ([Id], [Type], [Name]) VALUES (1, N'Chat', N'Chat Message')
INSERT [dbo].[RoomType] ([Id], [Type], [Name]) VALUES (2, N'Waiting List', N'Waiting List Message')
SET IDENTITY_INSERT [dbo].[RoomType] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password], [IsAvailable]) VALUES (1, N'homer1', N'$2a$11$hWpQt6ft86kyXFu8bATOS.ueOzbKjgaiTOCvpHifIBRPiiGIPJVI2', NULL)
INSERT [dbo].[Users] ([Id], [Username], [Password], [IsAvailable]) VALUES (2, N'homer2', N'$2a$11$JP2n6P23OImIu68boTmt.uRTW7LK4fr6Et.AD5WvpNNu4Xl.7aAAC', NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[WaitingList] ON 

INSERT [dbo].[WaitingList] ([WaitingListId], [CustomerName], [Concern], [WLRoomId], [IsActive], [AccomodatedBy], [IsDone], [IsOnline]) VALUES (131, N'first client', N'inquiry', N'5199f3f7-acc5-4a5f-8e79-77fb5742b16e', 0, 1, 0, 1)
INSERT [dbo].[WaitingList] ([WaitingListId], [CustomerName], [Concern], [WLRoomId], [IsActive], [AccomodatedBy], [IsDone], [IsOnline]) VALUES (132, N'second client', N'other concerns', N'0605ffab-87c1-4f9d-95ee-1defc39e8d67', 0, 1, 0, 1)
SET IDENTITY_INSERT [dbo].[WaitingList] OFF
GO
ALTER TABLE [dbo].[UserMessage] ADD  CONSTRAINT [DF_UserMessage_IsSeen]  DEFAULT ((0)) FOR [IsSeen]
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD  CONSTRAINT [FK_Room_RoomType] FOREIGN KEY([RoomTypeId])
REFERENCES [dbo].[RoomType] ([Id])
GO
ALTER TABLE [dbo].[Room] CHECK CONSTRAINT [FK_Room_RoomType]
GO
ALTER TABLE [dbo].[UserMessage]  WITH CHECK ADD  CONSTRAINT [FK_UserMessage_Users] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Room] ([Id])
GO
ALTER TABLE [dbo].[UserMessage] CHECK CONSTRAINT [FK_UserMessage_Users]
GO
ALTER TABLE [dbo].[WaitingList]  WITH CHECK ADD  CONSTRAINT [FK_WaitingList_Users] FOREIGN KEY([AccomodatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[WaitingList] CHECK CONSTRAINT [FK_WaitingList_Users]
GO
